.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  padding: 0;
  z-index: 10;

  &:focus {
    outline: none;
  }

  .bar {
    width: 2rem;
    height: 0.25rem;
    background: #333;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
  }

  &.isOpen {
    .bar:nth-child(1) {
      transform: rotate(45deg);
    }

    .bar:nth-child(2) {
      opacity: 0;
      transform: translateX(20px);
    }

    .bar:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}
