.navbar {
    background-color: var(--bg-white);
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logoWrapper {
    display: inline-block;
    position: relative;
    height: 75px;
    width: 75px;
    overflow: hidden;
}

.logoImage {
    object-fit: contain;
    object-position: left;
}

.hamburgerContainer {
    position: absolute;
    top: 23px;
    right: 20px;
    z-index: 30;
}

.mobileMenuOuter {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 500px;
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 0px;
    z-index: 20;
    border-radius: 5px;
    overflow: hidden;
    transition: width var(--transition), height var(--transition), opacity var(--transition);
    opacity: 0;
    padding: 12px;
}

.mobileMenuInner {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.97);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(18.8px);
    -webkit-backdrop-filter: blur(18.8px);
    border: 1px solid rgba(255, 255, 255, 0.44);

}

.showMobileMenu {
    width: 100%;
    height: 350px;
    opacity: 1;
}

.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 300px;
    gap: 30px;
    list-style: none;
    padding: 10px;
}

.navLinks a {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--primary-color);
    transition: color var(--transition);
    text-decoration: none;
}

.navLinks a:hover {
    color: var(--accent-color);
}

@media screen and (max-width: 768px) {}