.container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    height: 100px;
    display: flex;
    flex-direction: column;
     transition: height 0.3s ease, top 0.3s ease, background-color 0.3s ease;
}

.scrolled {
    height: 80px;
    top: -31px;
}