.gallerySection_container {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

.gallerySection_titleWrap {
    margin-bottom: 10px;
}

.gallerySection_galleryWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.gallerySection_title h2{
    position: relative
}

.gallerySection_title h2:before{
    content:'';
   background: linear-gradient(to left, #0000009c, #8a8a8a, #d3343400);
    position: absolute;
    width: 50%;
    height: 2px;
    top: 50%;
    right: 115%;
     border-radius: 10px;;
}

.gallerySection_title h2:after{
    content:'';
   background: linear-gradient(to right, #0000009c, #8a8a8a, #d3343400);
    position: absolute;
    width: 50%;
    height: 2px;
    top: 50%;
    right: -70%;
    border-radius: 10px
}