.title h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.galleryWrap {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

a.seeMore {
    display: block;
    text-align: center;
    margin-top: 50px;
    font-size: 1.2rem;
    color: #0070f3;
    text-decoration: none;
}